.buy-button {
  background-color: #bc7c7b; /* Pink background */
  color: white; /* White text */
  padding: 10px 20px; /* Top and bottom padding of 10px, left and right 20px */
  border: none; /* Remove the default border */
  border-radius: 5px; /* Rounded corners */
  font-size: 16px; /* Font size */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.buy-button:hover {
  background-color: #a56968; /* Darker pink when hovering */
}
